<div class="container">
  <div class="banner">
    <div class="content">
      <h1>Munekatsu Furugen</h1>
      <p>Full Stack Developer</p>
      <div class="logos">
        <a href="mailto:rinconlincon@gmail.com">
          <i class="far fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/munekatsu-furugen/">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Katsulincon">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>


  <div class="body-container">
    <h2>About Me</h2>
    <div class="about-me-container">
      <div id="avatar">
        <%#= image_tag("face-one.JPG") %>
        <img class="avatar-large" alt="avatar-large" src="/images/face-five.JPG" />
      </div>
      <div class="intro">
        <p>I'm Katsu, a creative and passionate developer based in Tokyo. </p>
        <p>I used to work in sales in the U.S. after graduating from university in Tokyo.</p>
        <p>I decided to become a developer because I found the power of programming, which allows me to build any product I can think of from scratch.</p>
        <p>So here I am.</p>
        <p>My goal is to build and deliver valuable products to the world!</p>

      </div>
    </div>
  </div>

  <div class="content-container mx-2">
    <h2 class="container-title">Web Applications</h2>
    <div class="applications-card">
      <div class="app-image">
        <%= image_tag("happy.png") %>
      </div>
      <div class="app-info">
        <h5>Happy</h5>
        <h6>Lead Developer & Fron End Developer</h6>
        <p>Happy is an app which user can track their moods and activities.
        The app find and suggest good activities to users based on users' logs.
        </p>
        <%= link_to "View Site →","https://www.happyyou.xyz/", class: "btn btn-outline-dark" %>
      </div>
    </div>

    <div class="applications-card">
      <div class="app-info">
        <h5>Pick-a-sitter</h5>
        <h6>Front End Lead & Back End Developer</h6>
        <p>Pick-a-sitter is an app which user can easily find and book babysitters around them. </p>
        <%= link_to "View Site →","https://pick-a-sitter.herokuapp.com/", class: "btn btn-outline-dark" %>
      </div>
      <div class="app-image">
        <%= image_tag("pick-a-sitter.png") %>
      </div>
    </div>

   <div class="applications-card">
      <div class="app-image">
        <%= image_tag("cocktail.png") %>
      </div>
      <div class="app-info">
        <h5>Cocktail & Cocktail</h5>
        <h6>Back End & Front End Developer</h6>
        <p>This is an app which allows you to save cocktail recipes</p>
        <%= link_to "View Site →","https://cocktail-cocktail.herokuapp.com/cocktails", class: "btn btn-outline-dark" %>
      </div>
    </div>

    <div class="applications-card">
      <div class="app-info">
        <h5>Fill in the blanks 1:Many</h5>
        <h6>Front End Lead & Back End Developer</h6>
        <p>This is a app which allows you to create your own fill-in-the-blanks quizess. You can use this app for any learning purpose.</p>
        <%= link_to "View Site →","https://oboeru-two.herokuapp.com/", class: "btn btn-outline-dark" %>
      </div>
      <div class="app-image">
        <%= image_tag("fill.png") %>
      </div>
    </div>


  </div>

</div>
